@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(225, 232, 245);
}

.wrapper {
    width: 60%;
    margin: auto;
}
.header {
    font-size: 22px;
    margin-top: 50px;
    padding: 5px 0;
}

.main-img {
    width: 100%;
    margin: auto;
}

.index {
    background-color: white;
    text-align: left;
    margin-top: 50px;
}

.index-wrapper {
    width: 60%;
    margin: auto;
}


.index h2 {
    padding: 20px 0 10px 0;
    font-size: 16px;
}

.list {
    line-height: 3;
    font-size: 12px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.intro {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.detail {
    padding: 20px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex img {
    width: 50%;
    height: 50%;
    margin-right: 40px;
}


.flex h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.box dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-top: rgb(209, 205, 205) 1px solid;
    border-bottom: rgb(209, 205, 205) 1px solid;
    padding: 20px 0;
}

.flex dt, .flex dd {
    font-size: 14px;
}

.flex dt{
    width: 25%;
}

.flex dd {
    width: 75%;
}

.box p {
    font-size: 14px;
    padding: 20px 0;
}

.box a {
    font-size: 14px;
}

.footer {
    width: 60%;
    margin: auto;
    font-size: 10px;
}